.tag-btn {
  margin-right: .3em;
}

.tag-label {
  height: 24px;
}

.sticky-offset {
  top: 86px;
}

.tag-filter-menu,
.add-tag-menu {
  padding: .5rem .5rem;
}

.tag-filter-menu .dropdown-item {
  margin: .5rem auto;
  border-radius: 3px;
.add-tag-menu .btn-group {
  margin: .5rem .5rem 0 0;
}

.add-tag-menu .tag-container {
  width: 15rem;
}

.doc-card .docbutton-container {
  position: relative;
}

.doc-card .docbuttons {
  position: absolute;
  top: 0;
}

.doc-card {
  /* Make sure document buttons always fit
     inside the card */
  min-width: 170px;
}

.doc-multiselect .doc-card {
  border: var(--gray) solid 3px;
}

.doc-multiselect .doc-card.selected {
  border: var(--blue) solid 3px;
}

.doc-multiselect .doc-card * {
  pointer-events: none;
}

#multiselect-docbuttons .docbuttons {
  box-shadow: 0 0 3em grey;
}

.doc-image {
  padding: 1em;
  height: 100%;
  max-height: 300px;
  object-fit: contain;
}

.doc-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: large;
}